<footer class="footer-area section-gap">
  <div class="row footer-bottom d-flex justify-content-between align-items-center">
    <p class="col-lg-8 col-sm-12 footer-text m-0">
      <%= t ".text_footer" %>
    </p>
  </div>
</footer>
