<section class="destinations-area section-gap">
        <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-40 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">Các tour HOT </h1>
                            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day to.</p>
                        </div>
                    </div>
                </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="single-destinations">
                <div class="thumb">
                  <%= image_tag "home/d1.jpg" %>
                </div>
                <div class="details">
                  <h4 class="d-flex justify-content-between"
                    <a href="">Đặt tour</a>
                    <div class="star">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                    </div>
                  </h4>
                  <p>
                    View on map   |   49 Reviews
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>

<section class="home-about-area">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-end">
      <div class="col-lg-6 col-md-12 home-about-left">
        <h1> Tour đà nẵng <br> </h1>
        <p>
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.
        </p>
        <a href="#" class="primary-btn text-uppercase">request custom price</a>
      </div>
      <div class="col-lg-6 col-md-12 home-about-right no-padding">
        <%= image_tag "home/d1.jpg" %>
      </div>
    </div>
  </div>
</section>


